{% extends "_layouts/cp" %}

{% set title = "Product Types"|t('digital-products') %}
{% set selectedSubnavItem = "productTypes" %}

{% set productTypes = craft.digitalProducts.getProductTypes() %}
{% set content %}
	<div id="noProductTypes"{% if productTypes %} class="hidden"{% endif %}>
		<p>{{ "No product types exist yet."|t('digital-products') }}</p>
	</div>

	{% if productTypes|length %}
		<table id="productTypes" class="data fullwidth collapsible">
			<thead>
			<th scope="col">{{ "Name"|t('digital-products') }}</th>
			<th scope="col">{{ "Handle"|t('digital-products') }}</th>
			<td class="thin"></td>
			</thead>
			<tbody>
			{% for productType in productTypes %}
				<tr data-id="{{ productType.id }}" data-name="{{ productType.name|t('digital-products') }}">
					<th scope="row" data-title="{{ 'Name'|t('digital-products') }}"><a href="{{ url('digital-products/producttypes/' ~ productType.id) }}">{{ productType.name|t('digital-products') }}</a></th>
					<td data-title="{{ 'Handle'|t('digital-products') }}"><code>{{ productType.handle }}</code></td>
					<td class="thin"><a class="delete icon" title="{{ 'Delete'|t('digital-products') }}" role="button"></a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div id="newProductType" class="buttons">
		<a href="{{ url('digital-products/producttypes/new') }}" class="btn submit add icon">{{ "New product type"|t('digital-products') }}</a>
	</div>
{% endset %}


{% set js %}
	var adminTable = new Craft.AdminTable({
	tableSelector: '#productTypes',
	noObjectsSelector: '#noProductTypes',
	newObjectBtnSelector: '#newProductType',
	deleteAction: 'digital-products/product-types/delete',
	confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its products?"|t('digital-products') }}'
	});
{% endset %}
{% includeJs js %}
