{% macro titleField(product) %}
	{%- import "_includes/forms" as forms -%}

	{{ forms.textField({
		label: "Title"|t('commerce-digitalproducts'),
        site: product.site,
		id: 'title',
		name: 'title',
		value: product.title,
		placeholder: 'Enter title'|t('commerce-digitalproducts'),
		errors: product.getErrors('title'),
		first: true,
		autofocus: true,
		required: true,
		maxlength: 255
	}) }}
{% endmacro %}


{% macro generalMetaFields(product) %}
	{%- import "_includes/forms" as forms -%}

	{{ forms.textField({
		label: "Slug"|t('commerce-digitalproducts'),
		id: 'slug',
		name: 'slug',
		value: product.slug,
		placeholder: 'Enter slug'|t('commerce-digitalproducts'),
		errors: product.getErrors('slug')|merge(product.getErrors('uri'))
	}) }}

	{{ forms.dateTimeField({
		label: 'Post Date'|t('commerce-digitalproducts'),
		id: 'postDate',
		name: 'postDate',
		value: product.postDate,
		errors: product.getErrors('postDate')
	}) }}

	{{ forms.dateTimeField({
		label: 'Expiry Date'|t('commerce-digitalproducts'),
		id: 'expiryDate',
		name: 'expiryDate',
		value: product.expiryDate,
		errors: product.getErrors('expiryDate')
	}) }}
{% endmacro %}


{% macro behavioralMetaFields(product) %}
	{%- import "_includes/forms" as forms -%}

	{{ forms.selectField({
		label: 'Tax Category'|t('commerce-digitalproducts'),
		name: 'taxCategoryId',
		value: product.taxCategoryId,
		required: true,
		options: craft.commerce.getTaxCategories(true)
	}) }}

	{{ forms.checkboxField({
		id: 'promotable',
		fieldLabel: 'Promotable'|t('commerce-digitalproducts'),
		name: 'promotable',
		checked: product.promotable,
	}) }}
{% endmacro %}


{% macro generalFields(product) %}
	{%- import "_includes/forms" as forms -%}

	{{ forms.textField({
		id: 'sku',
		label: 'SKU'|t('commerce-digitalproducts'),
		required: true,
		name: 'sku',
		value: product.sku,
		placeholder: 'Enter SKU'|t('commerce-digitalproducts'),
		errors: product.getErrors('sku')
	}) }}

{% endmacro %}

{% macro pricingFields(product) %}

	{%- import "_includes/forms" as forms -%}

	{{ forms.textField({
		id: 'price',
		label: 'Price'|t('commerce-digitalproducts'),
		name: 'price',
		value: (product.price == '0' ? '0'|number : (product.price ?  product.price|number ?: '')),
		placeholder: 'Enter price'|t('commerce-digitalproducts'),
		unit: craft.commerce.primaryPaymentCurrency.iso,
		required: true,
		errors: product.getErrors('price')
	}) }}

{% endmacro %}