{% extends "_layouts/cp" %}
{% set selectedSubnavItem = "licenses" %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% set statusOptions = [{label: 'Active'|t('digital-products'), value: 1}, {label: 'Disabled'|t('digital-products'), value: 0}] %}

{% block content %}
    <input type="hidden" name="action" value="digital-products/licenses/save">
    <input type="hidden" name="redirect" value="{{ 'digital-products/licenses'|hash }}">
    {% if license.id %}<input type="hidden" name="licenseId" value="{{ license.id }}">{% endif %}

    <div id="fields">
        {% include 'digital-products/licenses/_fields' %}
    </div>
{% endblock %}

{% block details %}
    <div class="meta">
        {% set statusInput %}
            <div class="left">
                {{ forms.lightswitch({
                    id: 'enabled',
                    name: 'enabled',
                    on: license.enabled,
                    disabled: false
                }) }}
            </div>

            {% if license.id %}
                <div class="right">
                    <input type="button"
                           class="btn small formsubmit"
                           value="{{ 'Delete'|t('digital-products') }}"
                           data-action="digital-products/licenses/delete"
                           data-confirm="{{ 'Are you sure you want to delete this license?'|t('digital-products') }}"
                           data-redirect="{{ 'digital-products/licenses'|hash }}">
                </div>
            {% endif %}
        {% endset %}

        {{ forms.field({
            id: 'enabled',
            label: 'Enabled?'|t('digital-products')
        }, statusInput) }}
    </div>
    <hr />
    <div class="meta">
        {% if license.orderId %}
            {% set productInput %}
                <a href="{{ license.getOrderEditUrl() }}">View order no. {{ license.orderId }}</a>
            {% endset %}
        {% else %}
            {% set productInput %}
                No order associated with license.
            {% endset %}
        {% endif %}
        {{ forms.field({
            label: "Product order"|t('digital-products')
        }, productInput) }}

        {{ forms.dateTimeField({
            label: 'License issue date'|t('digital-products'),
            id: 'dateCreated',
            name: 'dateCreated',
            value: license.dateCreated,
            disabled: true
        }) }}
    </div>
{% endblock %}