{% import "_includes/forms" as forms %}

{% if license.licenseKey and not license.productId %}
    {% set productInput %}
        <div class="input ltr">
            <input class="text ltr fullwidth" type="text" disabled="disabled" value="{{ license.getProductName() }}" autocomplete="off" />
        </div>
    {% endset %}

    {{ forms.field({
        label: "Product"|t('commerce-digital-products'),
        instructions: "A deleted digital product"|t('commerce-digital-products')
    }, productInput) }}
{% else %}
    {{ forms.elementSelectField({
        elementType: productElementType,
        elements: license.productId ? craft.digitalProducts.products.id(license.productId).find() : null,
        instructions: "The digital product that this license should be associated with"|t('commerce-digital-products'),
        label: "Product"|t('commerce-digital-products'),
        id: 'product',
        errors: license.getErrors('productId'),
        class: 'ltr',
        name: 'product',
        limit: 1
    }) }}
{% endif %}

{{ forms.textAreaField({
    label: "License key"|t('commerce-digital-products'),
    instructions: "The license key is generated automatically"|t('commerce-digital-products'),
    id: 'licenseKey',
    class: 'code',
    name: 'licenseKey',
    disabled: true,
    value: license.licenseKey,
}) }}

{{ forms.elementSelectField({
    elementType: userElementType,
    elements: license.userId ? craft.users.id(license.userId).find() : null,
    label: "Owner"|t('commerce-digital-products'),
    id: 'owner',
    class: 'ltr',
    name: 'owner',
    limit: 1,
    errors: license.getErrors('userId'),
    required: true,
    instructions: "Required, if Owner Email field is blank."|t('commerce-digital-products')
}) }}

{{ forms.textField({
    label: "Owner Name"|t('commerce-digital-products'),
    id: 'ownerName',
    class: 'ltr',
    name: 'ownerName',
    value: license.ownerName,
    errors: license.getErrors('ownerName')
}) }}

{{ forms.textField({
    label: "Owner Email"|t('commerce-digital-products'),
    id: 'ownerEmail',
    class: 'ltr',
    name: 'ownerEmail',
    value: license.ownerEmail,
    errors: license.getErrors('ownerEmail'),
    required: true,
    instructions: "Required, if Owner field is blank."|t('commerce-digital-products'),
}) }}