name: ci
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - '3.0'
  pull_request:
jobs:
  ecs:
    name: ECS
    uses: craftcms/.github/.github/workflows/ecs.yml@v2
    with:
      php_version: '8.0'
  prettier:
    name: Prettier
    uses: craftcms/.github/.github/workflows/prettier.yml@v2
  phpstan:
    name: PHPStan
    uses: craftcms/.github/.github/workflows/phpstan.yml@v2
    with:
      php_version: '8.0'
  notify-slack:
    name: Notify Slack
    needs: [ecs, phpstan]
    if: ${{ always() }}
    uses: craftcms/.github/.github/workflows/notify-slack.yml@testbranch
    with:
      success: ${{ needs.ecs.result == 'success' && needs.prettier.result == 'success' && needs.phpstan.result == 'success' }}
      failure: ${{ needs.ecs.result == 'failure' || needs.prettier.result == 'failure' || needs.phpstan.result == 'failure' }}
      failure_text_prefix: <!subteam^S01CWPYH9D5>
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      slack_webhook_url: ${{ secrets.SLACK_COMMERCE_WEBHOOK_URL }}
